
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
/docker_dev/logs/nginx/access.log
/docker_dev/logs/nginx/error.log
###< symfony/framework-bundle ###
/docker_dev/database/data/*.*
